@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: "dodgerblue";
}

.CircularProgressbar-path {
  stroke: url(#gradient);
}
.row {
  max-width: 1500px;
  margin: 0 auto;
}

.container {
  padding: 1rem;
  margin: 0 auto;
}
.here {
  color: rgb(173, 20, 20);
}
.CircularProgressbar-text {
  font-size: 24px; /* Adjust the size as needed */
}

html,
body {
  font-family: "Poppins", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* dashboard styles here */
.main--container {
  display: flex;
  width: 100%;
}

.dashboard--main--content {
  background-color: #fff;
  width: 80%;
  height: 100dvh;
}
.dashboard--sidebar {
  background-color: rgb(61, 61, 218);
  width: 20%;
}
.sidebar--items ul li a {
  color: white;
  padding: 0.75rem 1rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.158);
  transition: all 0.2s ease-in;
}
.sidebar--items ul li a:hover {
  background-color: rgba(0, 204, 255, 0.247);
  /* border-radius: 50px; */
}

.sidebar--items {
  padding: 1rem;
}
.active {
  background-color: rgb(0, 204, 255);
  /* border-radius: 50px; */
}
.active.child {
  background-color: transparent;
  color: rgb(0, 204, 255);
}
/* people styles */
.c-person {
  border-bottom: 1px solid rgba(0, 0, 0, 0.228);
  transition-duration: 0.5s;
}
.c-person:hover {
  background-color: rgba(128, 128, 128, 0.08);
}
.c-people-header {
  border-bottom: 1px solid rgba(0, 0, 0, 0.069);
}
button.flex {
  transition-duration: 0.5s;
}
button.flex:hover {
  background-color: #0f172acf;
  color: white;
}

/* profile styles */
.c-profile .h-full div {
  margin-bottom: 1rem;
}
/* form styles */
.c-level-input-container {
  background-color: gainsboro;
  border-radius: 3px;
  margin-bottom: 10px;
}
.c-level-popup-container div {
  border-radius: 4px;
  background-color: gainsboro;
  margin-bottom: 3px;
  padding: 5px;
  cursor: pointer;
  transition-duration: 0.5s;
}
.c-level-popup-container div:hover {
  background-color: rgba(0, 0, 255, 0.617);
  color: white;
}
.c-form-navigator {
  transition-duration: 0.5s;
}
.c-form-navigator:hover {
  background-color: #0f172acf;
  color: white;
}
/* .w-full > button {
  position: absolute;
  left: 50%;
  transition-duration: 0.5s;
  transform: translateX(-50%);
}
.w-full > button:hover {
  background-color: #0f172ae4;
} */
input,
select {
  background-color: #e2e8f0;
  background-color: transparent;
  padding: 0.8rem;
  border-radius: 3px;
  margin-bottom: 15px;
  border: 2px solid #e2e8f0;
}

.c-meetings div {
  transition-duration: 0.5s;
}
.c-meetings div:hover {
  background-color: rgba(0, 0, 255, 0.517);
  color: white;
}
/* slick slider styles */
.slick-arrow.slick-next::before,
.slick-arrow.slick-prev::before {
  color: rgba(0, 0, 0, 0.801);
}
.slick-next {
  right: -20px;
}
.slick-prev {
  left: -20px;
}
.slick-slide {
  padding: 0 10px;
  transition-duration: 0.5s;
  cursor: pointer;
}
.slick-slide:hover {
  transform: scale(1.2);
}
.slick-list {
  margin: 0 -10px;
}
/* settings styles */
tbody tr:nth-child(2n-1){
  background-color: rgba(0, 0, 0, 0.089);
}
table tr td,
table tr th{
  padding: 5px 1rem;
}
