@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* dashboard styles herer */
.main--container {
  display: flex;
  width: 100%;
}

.dashboard--main--content {
  background-color: rgb(244, 244, 244);
  width: 80%;
  height: 100dvh;
}
.dashboard--sidebar {
  background-color: blue;
  width: 20%;
}
